.label {
	font-family: var(--font-family), system-ui;
}

.title {
	font-family: var(--font-family-title);
    font-weight: 800;
}

.bold {
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.inline {
	display: inline-block;
}
