.card {
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.6);
  padding: 10px 20px;
  min-height: 450px;
  color: white;
  min-width: 400px;
  max-width: 400px;
}