:root {
  --primary-color: #1a8853;
  --secondary-color: aliceblue;
  --navbar-color: rgb(144, 189, 144);
}

/* 
This is a pain, but it is the quickest and easiest
way for all inputs to be styled.

If we were using SCSS, we could set a variable to 
customise the colors. 
*/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--primary-color) !important;
}
