.container {
  background-color: var(--navbar-color);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  margin-bottom: 40px;
  height: 64px;
}

.containerLg {
  height: 350px;
}

.center {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.left {
  position: absolute;
  top: 14px;
  left: 30px;
}

.right {
  position: absolute;
  top: 14px;
  right: 30px;
}
